
xmp{
    text-align: left;
}

#show{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr) */
    
}
.insta {
    width: 200px;
    height: 200px;
    display: contents;
    /* margin: 1rem; */
    box-shadow: 0 5px 10px #ccc;
}

#rozhok_wrapper{
    width: fit-content;
    align-items: center;
    justify-content: center;
}